.todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 255px;
    margin: 0 auto;
}

.todoListMain .theList li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    padding-right: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
}

.todoListMain .theList .removeItem {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    text-transform: lowercase;
    color: rgba(187, 39, 45, 0.67);
    font-style: normal;
    cursor: pointer;
}